.logoSectionWrapper {
  --scroll-down-height: 2.45em;

  font-size: 1rem; // 1em = 20px
  position: relative;
  margin-bottom: calc(0.5 * var(--scroll-down-height));

  section.logoSection {
    width: 100vw;
    height: min(
      calc(100dvh - 1 * var(--scroll-down-height)),
      600px
    );
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;

    article.body {
      --total-cols: 20;

      --header-size: 7;
      --img-size: 6;

      --left-size: 1;
      --right-size: calc(
        var(--total-cols)
        - var(--header-size)
        - var(--img-size)
        - var(--left-size)
      );

      overflow: hidden;

      .gap {
        &.left {
          grid-column: span var(--left-size);
        }

        &.right {
          grid-column: span var(--right-size);
        }
      }

      header.logoHolder {
        grid-column: span var(--header-size);
        display: flex;
        align-items: center;
        background: rgba(255 0 0 / .25);
      }

      .imageHolder {
        grid-column: span var(--img-size);
        background: rgba(0 0 255 / .25);
        margin-top: 3em;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;

        img.iphone {
          height: 125% !important;
          // display: none;
          object-fit: scale-down;
          object-position: bottom right;
        }
      }
    }

    article.scrollDownHolder {
      @apply w-full absolute flex justify-center items-center;

      top: calc(100% - 0.5 * var(--scroll-down-height));

      button.scrollDownButton {
        @apply flex justify-center items-center gap-[2em];

        height: var(--scroll-down-height);
        z-index: 5;

        // Сгенерил тень через сайт
        box-shadow: -2px -8px 57px 0px rgba(0, 0, 0, 0.54);

        .inner {
          font-size: .7em;
        }
      }
    }
  }

  img.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    overflow: hidden;
  }
}
