.favoritesSectionHolder {
  --padding-y: 3.5em;

  @apply bg-[#29d3d1] text-white mb-[12em];

  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);

  h2, h3 {
    &.heading {
      @apply uppercase pb-[.1em];

      font-size: 1.6em;
      border-bottom: 4px solid currentColor;
      transition: .15s ease color;

      &.hidden {
        opacity: .3;
        // border-bottom: none;
        // padding-bottom: 0 !important;
        border-color: transparent;

        transition: .15s ease border-bottom;
      }
    }
  }

  section.favorites {
    display: flex;
    gap: calc(var(--margin) * .5);
    height: 20em;

    article.gap {
      flex-grow: 1;
      height: 100%;

      @media (max-width: 1280px) {
        display: none;
      }
    }

    article.grid {
      grid-template-columns: max-content 1fr 12fr !important;

      .imageHolder {
        // grid-column: span 1;
        height: 100%;
        position: relative;
        // width: 16.75em;
        width: 14em;

        img.phone {
          $overflow: calc(var(--padding-y) * 2);

          position: absolute;
          top: calc(0px - $overflow);
          left: 0;
          height: calc(100% + 2 * $overflow);
          width: 100%;
          object-fit: contain;

          transition: .15s ease opacity;
        }
      }

      .tabControl {
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 4;

        .tabs {
          @apply flex gap-x-[1em] gap-y-[.25em] flex-wrap;
        }

        .content {
          @apply mt-[2em] flex flex-col gap-[1em];
        }
      }
    }
  }

  @media (max-width: 1280px) {
    // --padding-y: 3em;
    display: none;
  }
}
