@import "src/styles/templates";

article.strongSide {
  @apply flex flex-col gap-[1.9em];

  .iconHolder {
    @extend %flexCenter;

    height: 4.875em;
    width: 100%;
    // background: blue;

    img {
      height: 100%;
    }
  }

  footer.sideBlockFooter {
    @apply flex flex-col gap-[.85em] items-center;

    // background: red;

    line-height: 112.5%;

    h2 {
      @apply uppercase text-[1.1em] text-center;
    }

    p.under {
      @apply text-[.9em] text-center;
    }
  }
}
